<html>
	<body>
		<h1 style="font-family:Helvetica" align="center">NEW INFO ON SATURN'S CORE</h3>
		<p align="center"><img src = "/static/images/blog2.jpg" ></p>
		<p style="font-family:Verdana" >Researchers used data from the Cassini mission to study the movements of Saturn’s Rings. While some of the movements could be explained by the gravitational pull of Saturn’s moons, others have been attributed to the planet’s core - which appears to be an indistinct mix of ice and rock, called a diffuse core. The planet’s rings were treated as a seismograph to measure the oscillations inside it. Using this technique, they were able to determine the nature of Saturn’s core
		</p>
		<p align="right">~ Kashika Singh</p>
		<p>
	{% if cur_blog_no!="1" %}
	{% set prev=cur_blog_no | int %}
	{% set prev=prev-1 %}
	<a href = "/blog/{{prev}}" align="left">Previous</a>
	{% endif %}
	{%set cur_blog_no=cur_blog_no | int %}
	{%set max_blog_no=max_blog_no | int %}
	{% if max_blog_no!=cur_blog_no %}
	{% set next=cur_blog_no | int %}
	{% set next=next+1 %}
	<a href = "/blog/{{next}}" align="right">Next</a>
	{% endif %}
	</p>
		<h2 style="font-family:Helvetica">Add new comment</h2>
		<form method="POST">
			<p align="left">
				<label for="name"><h3 style="font-weight: normal" >Name:</h3></label>
				<input type="text" id="name" name="name" style="width:250px" required><br>
			</p>
			<p align="center">
				<label for="feedback"><h3 style="font-weight: normal">Add your comments:</h3></label>
			</p>
            <p>
				
				<input type="text" id="comment" name="comment" style="width:500px ; height:100px" required><br><br>
				<input type="submit" id="comment" name="" value="Post"></p>
		</form>
		
		{% if data!=[] %}
		<h2 style="font-family:Helvetica">All Comments:</h2>
		<table align="center" style="width:100% ; border-spacing:10px ; padding:10px ; font-family:Helvetica">
			{% for comment in data %}
				<tr>
					<td style="border:1px solid;" align="left">
					<h3>{{comment[0]}} :</h3>
					<p>{{comment[1]}}</p>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	

	</body>

