<html>
	<body>
		<h1 style="font-family:Helvetica" align="center">HOW DOES YOUR BODY BEHAVE UNDER LOW GRAVITY?</h3>
		<p align="center"><img src = "/static/images/blog1.jpg" ></p>
		<p style="font-family:Verdana" >Space travel fancies us all. Imagining life in zero gravity seems thrilling as well as fun. But at the same time, the altered gravity can adversely affect our physiology. Gravity is the silent but key influencer on the physiological processes of living things. Studies have shown that weightlessness makes watering plants difficult, causing waterlogging and stunted growth. In humans, too, microgravity can cause bodily fluids to shift toward the head, decreasing circulating blood volume and cardiac atrophy, among other complications.
		</p>
		<p align="right">~ Apurva Bhagat</p>
		<p>
	{% if cur_blog_no!="1" %}
	{% set prev=cur_blog_no | int %}
	{% set prev=prev-1 %}
	<a href = "/blog/{{prev}}" align="left">Previous</a>
	{% endif %}
	{%set cur_blog_no=cur_blog_no | int %}
	{%set max_blog_no=max_blog_no | int %}
	{% if cur_blog_no!=max_blog_no  %}
	{% set next=cur_blog_no | int %}
	{% set next=next+1 %}
	<a href = "/blog/{{next}}" align="right">Next</a>
	{% endif %}
	</p>
		<h2 style="font-family:Helvetica">Add new comment</h2>
		<form method="POST">
			<p align="left">
				<label for="name"><h3 style="font-weight: normal">Name:</h3></label>
				<input type="text" id="name" name="name" style="width:250px" required><br>
			</p>
			<p align="center">
				<label for="feedback"><h3 style="font-weight: normal">Add your comments:</h3></label>
			</p>
            <p>
				
				<input type="text" id="comment" name="comment" style="width:500px ; height:100px" required><br><br>
				<input type="submit" id="comment" name="" value="Post"></p>
		</form>
		
		{% if data!=[] %}
		<h2 style="font-family:Helvetica">All Comments:</h2>
		<table align="center" style="width:100% ; border-spacing:10px ; padding:10px ; font-family:Helvetica">
			{% for comment in data %}
				<tr>
					<td style="border:1px solid;" align="left">
					<h3>{{comment[0]}} :</h3>
					<p>{{comment[1]}}</p>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	

	</body>
