footer {
    background-color: #424275;
    padding-bottom: 50px;
    padding-top: 50px;
}

.social-links {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-links li {
    padding: 8px;
}

.social-links a {
    color: white;
}

.copyright, .contact {
    text-align: center;
    color: white;
}
