footer {
    background-color: var(--color1);
    padding-bottom: 50px;
    padding-top: 50px;
}

.social-links {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom-color: var(--pen1) !important;
}

.social-links li {
    padding: 8px;
}

.social-links a {
    color: var(--pen2);
}

.copyright, .contact {
    text-align: center;
    color: var(--pen2);
}
