{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="background" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }});">
	<div class="logo" style="background-image: url({{ url_for('static', filename='images/agLogo.png') }});"></div>
	<div class="announcements">
		<!-- <div class="alert alert-primary alert-dismissible fade show" role="alert">
			<strong>Holy guacamole!</strong> There are some brand new events.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-secondary alert-dismissible fade show" role="alert">
			Check out our new website.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div> -->
		<div class="card text-center">
			<div class="card-header">
				Latest Events
			</div>
			<div class="card-body">
				<p class="card-text">
					Aakashganga organizes events from time to time.
					<br>
					Check out the recent and upcoming events.
				</p>
				<a href="#spotlight" class="btn">New Events!</a>
			</div>
		</div>
	</div>
</div>

<section id="about" class="container-fluid gradient">
	<h2>About</h2>
	<div class="description">Aakashganga is the student run Astro Club of IISER Pune. It caters to the astronomy and
		astrophysics
		enthusiasts and amateur astronomers at IISER Pune. Aakashganga has something for everyone, whether you are an
		observational astronomer looking for tips on skywatching, or a person who likes the physics in Astrophysics.
		Even if you have a mild interest in Astronomy, you will find something of interest in Aakashganga.</div>
</section>

<section id="spotlight" class="container-fluid gradient">
	<h2>Spotlight</h2>
	{% for event in events %}
	<div class="event card mb-3">
		<div class="row g-0" style="height: fit-content;">
			<div class="col-md-{{ 6 if event.is_video else 4}}">
				{% if event.is_video %}
				<iframe src="{{ event.image_link }}" class="img-fluid rounded-start"></iframe>
				{% else %}
				<img src="{{ event.image_link }}" class="img-fluid rounded-start">
				{% endif %}
			</div>
			<div class="col-md-{{ 6 if event.is_video else 8}}">
				<div class="card-body">
					<h5 class="card-title event-title">{{ event.title }}</h5>
					<p class="card-text event-desc">{{ event.description | safe }}</p>
					<!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</section>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}