{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="background" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }});">
	<div class="logo" style="background-image: url({{ url_for('static', filename='images/agLogo.png') }});"></div>
	<div class="announcements">
		<!-- <div class="alert alert-primary alert-dismissible fade show" role="alert">
			<strong>Holy guacamole!</strong> There are some brand new events.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-secondary alert-dismissible fade show" role="alert">
			Check out our new website.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div> -->
		<div class="card text-center">
			<div class="card-header">
				Cosmic Tales
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#spotlight" class="btn">Go somewhere</a>
			</div>
		</div>
	</div>
</div>

<section id="about" class="container-fluid">
	<h2>About</h2>
	<div class="description">Aakashganga is the student run Astro Club of IISER Pune. It caters to the astronomy and
		astrophysics
		enthusiasts and amateur astronomers at IISER Pune. Aakashganga has something for everyone, whether you are an
		observational astronomer looking for tips on skywatching, or a person who likes the physics in Astrophysics.
		Even if you have a mild interest in Astronomy, you will find something of interest in Aakashganga.</div>
</section>

<section id="spotlight" class="container-fluid">
	<h2>Spotlight</h2>
	<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="10000">
				<img src="{{ url_for('static', filename='images/cosmic_tales/poster.jpeg')}}" alt="">
				<div class="carousel-caption d-none d-md-block">
					<h5>First slide label</h5>
					<p>Some representative placeholder content for the first slide.</p>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="2000">
				<div class="carousel-caption d-none d-md-block">
					<h5>Second slide label</h5>
					<p>Some representative placeholder content for the second slide.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-caption d-none d-md-block">
					<h5>Third slide label</h5>
					<p>Some representative placeholder content for the third slide.</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	
</section>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}