{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
{% block csspage %} {% endblock %}
{% endblock %}

{% block content %}
<div class="background" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }});">
    <div class="pagetitle">{% block title %} {% endblock %}</div>
    <div class="pagedesc"">{% block description %} {% endblock %}</div>
</div>
{% block contentpage %} {% endblock %}
{% endblock %}
