{% extends "page.html" %}

{% block csspage %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post.css')}}">
{% endblock %}

{% block title %}{{aakashvani.title}}{% endblock %}

{% block contentpage %}
<ul class="pagination">
    <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
    {% for n in nposts %}
        {% if n == current_post_no %}
        <li class="page-item active"><a class="page-link" href="#">{{n}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('aakashvani_post', aakashvani_id=aakashvani.id, post_priority=n) }}">{{n}}</a></li>
        {% endif %}
    {% endfor %}
    <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
</ul>
<div class="post-heading">{{current_post.title}}</div>
<div class="post-author">by {{author}}</div>
<div class="post-data">{{current_post.data | safe}}</div>
{% endblock %}