{% extends "page.html" %}

{% block csspage %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block title %}Team{% endblock %}

{% block contentpage %}
<div class="team">
    <div>
        Team Aakashganga is led by <b>Prof. Tarun Souradeep, Chair, Physics Department.</b>
    </div>
    <div>
        The General Coordinators of the current (2021-22) academic year are <b>Nishant Kulshreshtha</b> and <b>Rajat Shinde</b>
    </div>
    <div>
        <div>Also in our team</div>
        <ul>
            <li>Akanksha K - Design coordinator</li>
            <li>Kaustubh Kulkarni: Graphic Designer</li>
            <li>Shreya Doijad - Facebook Promoter</li>
            <li>Prabhav Kumar - YouTube Coordinator</li>
        </ul>
    </div>
    <div>
        <div>Video Editor</div>
        <ul>
            <li>Ryth Dasgupta</li>
            <li>Manish Kaswan</li>
            <li>Shriyansh Ranjan</li>
            <li>Amoghavarsha AV</li>
            <li>Yash Shingare</li>
        </ul>
    </div>
    <div>
        <div>Content Writers</div>
        <ul>
            <li>Giridharan S</li>
            <li>Soumil Kelkar</li>
            <li>Sanchi Wankhade</li>
            <li>Srirang Nabar</li>
            <li>Apurva Bhagat</li>
            <li>Kashika Singh</li>
            <li>Jharnesh Verma</li>
        </ul>
    </div>
    <div>
        <div>Content Collectors</div>
        <ul>
            <li>Giridharan S</li>
            <li>Soumil Kelkar</li>
            <li>Sanchi Wankhade</li>
            <li>Srirang Nabar</li>
            <li>Shriyansh Ranjan</li>
            <li>Amoghavarsha AV</li>
            <li>Sumant Chopde</li>
            <li>Muhsina H</li>
            <li>Apurva Bhagat</li>
            <li>Ameya Tilgul</li>
            <li>Abhishek Vaidya</li>
            <li>Jharnesh Verma</li>
        </ul>
    </div>
</div>
{% endblock %}